html {
    font-family: Helvetica;
}

header h1 {
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg");
}

section h1 {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

#header-br {
    background-color: mediumspringgreen;
}

#header-fr {
    background-color: lightcoral;
}

#header-pa {
    background-color: skyblue;
}